@charset "utf-8";

body{
	background-color: green;
}

img{
	width: 500px;
	color: orange;
	border: 20px double;
}

h1{
	color: orange;
	text-decoration: underline;
	
}

ul{
	padding: 0 ;
	list-style-type: none;
	background-color: darkgreen;
	width: 15%;
	font-size-adjust: 1;
	
}

li a{
	display: block;
	text-decoration: inherit;
	color: orange;
	
}

ul li a:hover{
	background-color:white;
	color: darkgreen;
	
}
